channel:
	id: UCpZaOc0uEk9gWh-TS7B3A5g
	kind: youtube#channel
	etag: "\"XI7nbFXulYBIpL0ayR_gDh3eu1k/Bz87VTenrOiIMepq_6N8F76EwlY\""
	title: Jan Galek
	description: ""
	url: https://www.youtube.com/channel/UCpZaOc0uEk9gWh-TS7B3A5g
	customUrl: https://www.youtube.com/user/jangalekprogramatorredaktor
	totalResults: 1
	resultsPerPage: 1
	views: 128
	commentCount: 0
	subscriberCount: 7
	hiddenSubscriberCount: false
	videoCount: 18
	published: "2013-04-27T22:21:54+00:00"
	thumbs:
		default:
			url: "https://yt3.ggpht.com/a-/AN66SAzNNvT5d806GrB8jlUaKlzeHWQLID89eu_mhg=s88-mo-c-c0xffffffff-rj-k-no"
			width: 88
			height: 88

		medium:
			url: "https://yt3.ggpht.com/a-/AN66SAzNNvT5d806GrB8jlUaKlzeHWQLID89eu_mhg=s240-mo-c-c0xffffffff-rj-k-no"
			width: 240
			height: 240

		high:
			url: "https://yt3.ggpht.com/a-/AN66SAzNNvT5d806GrB8jlUaKlzeHWQLID89eu_mhg=s800-mo-c-c0xffffffff-rj-k-no"
			width: 800
			height: 800

	playLists:
		PLbXPig9LCIwbjIr5i2aLz3FL6-LZjpVDo:
			id: PLbXPig9LCIwbjIr5i2aLz3FL6-LZjpVDo
			kind: youtube#playlistItemListResponse
			etag: "\"XI7nbFXulYBIpL0ayR_gDh3eu1k/XDOFa7y6MzoAnk2jcF3SHPJdjRo\""
			totalResults: 7
			resultsPerPage: 50
			items:
				zqTyJxGPg-Y:
					id: zqTyJxGPg-Y
					title: warfacez's highlight   competive 10 18 05 01 15 39 58
					description: ""
					published: "2018-05-01T14:02:43+00:00"
					views: 10
					url: "https://www.youtube.com/watch?v=zqTyJxGPg-Y"
					embed: https://www.youtube.com/embed/zqTyJxGPg-Y
					thumbs:
						default:
							url: https://i.ytimg.com/vi/zqTyJxGPg-Y/default.jpg
							width: 120
							height: 90

						medium:
							url: https://i.ytimg.com/vi/zqTyJxGPg-Y/mqdefault.jpg
							width: 320
							height: 180

						high:
							url: https://i.ytimg.com/vi/zqTyJxGPg-Y/hqdefault.jpg
							width: 480
							height: 360

						standard:
							url: https://i.ytimg.com/vi/zqTyJxGPg-Y/sddefault.jpg
							width: 640
							height: 480

						maxres:
							url: https://i.ytimg.com/vi/zqTyJxGPg-Y/maxresdefault.jpg
							width: 1280
							height: 720

					duration: PT25S
					tags:
						- overwatch

				fzcXTWtTLVY:
					id: fzcXTWtTLVY
					title: "warfacez's highlight Hanzo :D"
					description: ""
					published: "2018-06-09T12:27:05+00:00"
					views: 11
					url: "https://www.youtube.com/watch?v=fzcXTWtTLVY"
					embed: https://www.youtube.com/embed/fzcXTWtTLVY
					thumbs:
						default:
							url: https://i.ytimg.com/vi/fzcXTWtTLVY/default.jpg
							width: 120
							height: 90

						medium:
							url: https://i.ytimg.com/vi/fzcXTWtTLVY/mqdefault.jpg
							width: 320
							height: 180

						high:
							url: https://i.ytimg.com/vi/fzcXTWtTLVY/hqdefault.jpg
							width: 480
							height: 360

						standard:
							url: https://i.ytimg.com/vi/fzcXTWtTLVY/sddefault.jpg
							width: 640
							height: 480

						maxres:
							url: https://i.ytimg.com/vi/fzcXTWtTLVY/maxresdefault.jpg
							width: 1280
							height: 720

					duration: PT25S
					tags: []

		PLbXPig9LCIwb4NFYeXFMdI_NmrTL1EzhH:
			id: PLbXPig9LCIwb4NFYeXFMdI_NmrTL1EzhH
			kind: youtube#playlistItemListResponse
			etag: "\"XI7nbFXulYBIpL0ayR_gDh3eu1k/oV9LxvicPrLLz1VdYxC9LKnucaU\""
			totalResults: 1
			resultsPerPage: 50
			items:
				gr84kF37gso:
					id: gr84kF37gso
					title: ZukynekTV wood intro
					description: ""
					published: "2017-02-28T16:34:04+00:00"
					views: 20
					url: "https://www.youtube.com/watch?v=gr84kF37gso"
					embed: https://www.youtube.com/embed/gr84kF37gso
					thumbs:
						default:
							url: https://i.ytimg.com/vi/gr84kF37gso/default.jpg
							width: 120
							height: 90

						medium:
							url: https://i.ytimg.com/vi/gr84kF37gso/mqdefault.jpg
							width: 320
							height: 180

						high:
							url: https://i.ytimg.com/vi/gr84kF37gso/hqdefault.jpg
							width: 480
							height: 360

						standard: null
						maxres: null

					duration: PT11S
					tags: []

