playlist:
	id: PLbXPig9LCIwbjIr5i2aLz3FL6-LZjpVDo
	kind: youtube#playlistItemListResponse
	totalResults: 7
	resultsPerPage: 50
	items:
		zqTyJxGPg-Y:
			id: zqTyJxGPg-Y
			title: warfacez's highlight   competive 10 18 05 01 15 39 58
			description: ""
			published: "2018-05-01T14:02:43+00:00"
			url: "https://www.youtube.com/watch?v=zqTyJxGPg-Y"
			embed: https://www.youtube.com/embed/zqTyJxGPg-Y
			thumbs:
				default:
					url: https://i.ytimg.com/vi/zqTyJxGPg-Y/default.jpg
					width: 120
					height: 90

				medium:
					url: https://i.ytimg.com/vi/zqTyJxGPg-Y/mqdefault.jpg
					width: 320
					height: 180

				high:
					url: https://i.ytimg.com/vi/zqTyJxGPg-Y/hqdefault.jpg
					width: 480
					height: 360

				standard:
					url: https://i.ytimg.com/vi/zqTyJxGPg-Y/sddefault.jpg
					width: 640
					height: 480

				maxres:
					url: https://i.ytimg.com/vi/zqTyJxGPg-Y/maxresdefault.jpg
					width: 1280
					height: 720

			duration: PT25S
			tags:
				- overwatch

		fzcXTWtTLVY:
			id: fzcXTWtTLVY
			title: "warfacez's highlight Hanzo :D"
			description: ""
			published: "2018-06-09T12:27:05+00:00"
			url: "https://www.youtube.com/watch?v=fzcXTWtTLVY"
			embed: https://www.youtube.com/embed/fzcXTWtTLVY
			thumbs:
				default:
					url: https://i.ytimg.com/vi/fzcXTWtTLVY/default.jpg
					width: 120
					height: 90

				medium:
					url: https://i.ytimg.com/vi/fzcXTWtTLVY/mqdefault.jpg
					width: 320
					height: 180

				high:
					url: https://i.ytimg.com/vi/fzcXTWtTLVY/hqdefault.jpg
					width: 480
					height: 360

				standard:
					url: https://i.ytimg.com/vi/fzcXTWtTLVY/sddefault.jpg
					width: 640
					height: 480

				maxres:
					url: https://i.ytimg.com/vi/fzcXTWtTLVY/maxresdefault.jpg
					width: 1280
					height: 720

			duration: PT25S
			tags: []

